<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lost Pet Inc.</title>
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <!-- This is embedded stylesheet. -->
    <!-- adding fonts to website to make it more attractive. Use google fonts by refrencing the css on the Google Fonts APIs CDN -->
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- collapsable navbar begin -->
<nav class="navbar navbar-default roboto">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Lost Pets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home<span class="sr-only">(current)</span></a></li>
                <li ><a href="/add">Add</a></li>
                <li><a href="/">Show All</a></li>
                <li ><a href="/modify">Modify</a></li>
                <li ><a href="/delete">Delete</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- collapsable navbar end -->
    <div id="pets" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://cdn.pixabay.com/photo/2015/06/06/03/02/grilled-wings-799052_960_720.jpg" alt="this is a chicken wing" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">Puppies</h4>
                    <p class="group inner list-group-item-text">Bethesda</p>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://i52.tinypic.com/zkhic6.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">Kittens</h4>
                    <p class="group inner list-group-item-text">Silver Spring</p>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://afrifitness.com/wp-content/uploads/2016/08/nigerian-egg-stew-1.jpg" alt="egg sauce" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">Bunnies</h4>
                    <p class="group inner list-group-item-text">Wheaton</p>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Injera.jpg" alt="injera" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">Turtles</h4>
                    <p class="group inner list-group-item-text">College Park</p>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://cdn.indiamarks.com/wp-content/uploads/gulab-jamun.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">Birds</h4>
                    <p class="group inner list-group-item-text">Georgetown</p>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://c1.staticflickr.com/5/4154/4976761276_7edb1bfeb7_b.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">Cats & Dogs</h4>
                    <p class="group inner list-group-item-text">Cleveland Park</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>